*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
    font-family: Roboto;
    font-style: normal;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 15px;
}

@media (max-width: 1200px){
    .container{
        max-width: 830px;
    }
}


@media (max-width: 829px){
    .container{
        max-width: 600px;
    }
}


.container__row{
    display: flex;
    justify-content: space-between;
}
.container__main{
    width: 870px;
}
.container__sidebar{
    width: 270px;
    min-width: 200px;
}


@media (max-width: 829px){
    .container__sidebar{
        /* display: none; */
        margin-left: 0 !important;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #fff;
        padding: 15px;
        box-shadow: 0px 0px 20px 4px rgb(0 0 0 / 37%);
        overflow-y: scroll;
        transform: translate(-150%);
        transition: transform 0.4s ease-in;
    }
    .container__sidebar--mobile-active{
        transform: translate(0);
    }
}


.container__main + .container__sidebar{
    margin-left: 30px;
}

.container__cards-holder{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 599px){
    .container__cards-holder{
        flex-direction: column;
        align-items: center;
    }
}



.container__card-link{
    margin-bottom: 30px;
}

.container__card-link--hidden{
    display: none !important;
}

/* Card */

.container__card-link{
    display: inline-block;
    text-decoration: none;
    transition: all opacity 0.2s ease-in;
}
.container__card-link:hover{
    opacity: 0.8;
    transform: translateY(-5px);
}
.container__card{
    background-color: #fff;
    width: 270px;
    position: relative;
}
.container__badges{
    position: absolute;
    top: 10;
    left: 15px;
    right: 15px;
    display: flex;

}
.container__badges > * + * {
    margin-left: 10px;
}
.container__badge{
    display: inline-block;
    background-color: #525252;
    border-radius: 4px;
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    color: black;
}

.container__badge_credit{
    background-color: #118E75;
    color: white;
}

.container__badge_class{
    background-color: #FFCF26;

}

.container__img{
    width: 270px;
    display: block;
}
.img{
    width: 270px;
}
.container__content{
    padding: 15px 15px 20px;
}
.container__title{
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: black;
}
.container__term{
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    color: black;
}
.container__metro::before{
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: baseline;
    background-image: url(./../img/icons/Moscow_Metro\ 1.svg);
    background-repeat: no-repeat;
    background-size: initial;
    width: 16px;
    height: 11px;
}
.container__metro{
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    color: black;
}
.container__address{
    font-size: 14px;
    line-height: 1.14;
    color: #777777;
}
.container__btn-more{
    width: 100%;
    height: 80px;

    background-color: #E5E5E5;
    border: none;
    border-radius: 4px;

    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #4290c9;

    cursor: pointer;
    transition: background-color 0.2s ease-in;

}

.container__btn-more:hover{
    background-color: #cccccc;
}
.btn-img{
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
   
}

/* Sidebar */
.container__widget + .container__widget{
    margin-top: 30px;
}
.container__widget-title{
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
    margin-bottom: 20px;
    cursor: pointer;
}
.container__widget-title::after{
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    top: 0;
    right: 0;
    background-image: url(./../img/icons/chevron-up.svg);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
}

.container__widget-title--active::after{
    transform: rotate(180deg);
}


.container__widget-body{
    font-family: Roboto;
}

.container__widget-body--hidden{
    display: none;
}

/* Location buttons group */

.container__location{

}
.container__location-row{
    display: flex;
}
.container__location-row:first-child{
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    border: 1px solid #D6D6D6;
}
.container__location-row:last-child{
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    border: 1px solid #D6D6D6;
    border-top: none;
}
.container__location-btn{
    height: 50px;

    flex-grow: 1;

    padding: 0 15px;
    background-color: transparent;
    border: none;

   
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #3C3C3C;

    cursor: pointer;
    transition:  background-color 0.2s ease-in;
}

.container__location-checkbox{
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}
.container__location-checkbox:checked + .container__location-btn{
    background-color: #FFCF26;
}

.container__location-checkbox:checked + .container__location-btn:hover{
    background-color: #E0B000;
}


.container__location-btn:hover{
    background-color: #fff0bb;
}


/* Radio */

.container__radio{
    display: block;
    cursor: pointer;
}
.container__radio + .container__radio{
    margin-top: 15px;
}
.container__radio-real{
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}
.container__radio-real:checked + .container__radio-fake{
    background-color: #FFE074;
}
.container__radio-real:checked + .container__radio-fake::before{
    position: absolute;
    top: 25%;
    left: 30%;

    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #3C3C3C;

 
    transform: translate(-50% -50%);
}
.container__radio-fake{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border: 1px solid #777777;
    border-radius: 50%;
    vertical-align: bottom;
}


.container__radio-real:checked ~ .container__radio-title{
    font-weight: 500;
}


.container__radio-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: black;
}

/* Checkbox */
.container__checkbox{
    display: block;
    cursor: pointer;
}
.container__checkbox-hidden{
    display: none;
}

.container__checkbox + .container__checkbox{
    margin-top: 15px;
}
.container__checkbox-real{
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}
.container__checkbox-fake{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #777777;
    border-radius: 2px;
    vertical-align: bottom;
}
.container__checkbox-real:checked  + .container__checkbox-fake{
    background-color: #FFE074;
}

.container__checkbox-real:checked + .container__checkbox-fake::before{
    position: absolute;
    content: "";

    width: 18px;
    height: 18px;
    background-image: url(./../img/icons/checkbox\ checked.svg);
    background-size: initial;
    background-position: center;
    transform: translate(-50% -50%);
}


.container__checkbox-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: black;
}
.container__checkbox-real:checked ~ .container__checkbox-title{
    font-weight: 500;
}

/* Hidden elements widget */
.container__widget-hidden{
    display: none;
}

.container__widget-btn-show-hidden{
    display: inline-block;
    margin-top: 15px;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    color: #4290C9;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}
.container__widget-btn-show-hidden:active, .container__widget-btn-show-hidden:focus{
    outline: none;
}
.container__widget-btn-show-hidden:hover{
    opacity: 0.8;
    color: #0a5b96;
    text-decoration: underline;
}

/* Toggle */
.container__toggle{
    cursor: pointer;
}
.container__toggle-real{
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}
.container__toggle-fake{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 37px;
    height: 20px;
    background-color: #C4C4C4;
    border-radius: 10px;
    vertical-align: bottom;
}

.container__toggle-fake::before{
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    width: 16px;
    height: 16px;
    background-color: #3C3C3C;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.container__toggle-real:checked + .container__toggle-fake{
    background-color: #FFE074;
}
.container__toggle-real:checked + .container__toggle-fake::before{
    left: 19px;
 
}

.container__toggle-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: black;
}
.container__toggle-real:checked ~ .container__toggle-title{
    font-weight: 500;
}

/* Form buttons */

.container__form-btn{
    width: 100%;
    height: 50px;
    font-family: inherit;
    background-color: transparent;
    text-align: center;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #3C3C3C;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}
.container__form-btn:hover{
    background-color: #e7e7e7;
}

.container__form-btn img{
    display: inline-block;
    margin-right: 6px;
    margin-top: -2px;
    vertical-align: middle;
}

.container__form-btn + .container__form-btn{
    margin-top: 10px;
}

.container__form-btn_submit{
    background-color: #FFCF26;
    border: none;
    color: #000000;
}
.container__form-btn_submit:hover{
    background-color: #ffe173;
}

/* Button Toggle Sidebar */
.container__toggle-sidebar{
    display: none;
    position: fixed;
    z-index: 9;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    background-color: rgb(49, 60, 28);
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 829px){
    .container__toggle-sidebar{
        display: flex;
    }
}

.container__menu-icon-wrapper{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    background-color: transparent;
}
.container__menu-icon{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #fff;
}

.container__menu-icon-active{
    background-color: transparent;
}

.container__menu-icon .container__menu-icon-active::before{
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear,transform 0.2s easy-in 0.2s;
}
.container__menu-icon .container__menu-icon-active::after{
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear,transform 0.2s easy-in 0.2s;
}